.title__bar {
  background-color: #000000;
  height: 5vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
}

.title__text {
  margin-bottom: 0%;
  margin-right: 3%;
  color: white;
}

.title__box {
background-color: white;
display: flex;
justify-content: center;
align-items: center;
width: 6%;
height: 70%;
}

.box__number {
  margin-bottom: 0%;
  
}

.nav-item {
  background-color: aqua;
}