.title__bar {
  background-color: #343a40;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__text {
  margin-bottom: 0%;
  margin-right: 2%;
  color: white;
}

.title__box {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 70%;
  margin: 5px;
}

.box__number {
  margin-bottom: 0%;
}

.thin__line {
  background-color: #949494;
  height: 0.5vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.menu__numbox {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 70%;
  margin: 5px;
}

.number__box {
  margin-bottom: 0%;
}

#mydiv {
  position: absolute;
  z-index: 9;
  cursor: move;
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
}

#mydivheader {
  padding: 2px;
  z-index: 10;
  cursor: move;
  background-color: #57a9eb;
  color: #fff;
}