.title__bar {
  background-color: #343a40;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__text {
  margin-bottom: 0%;
  margin-right: 2%;
  color: white;
}

.title__box {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 70%;
  margin: 5px;
}

.box__number {
  margin-bottom: 0%;
}

.thin__line {
  background-color: #949494;
  height: 0.5vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.menu__numbox {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 70%;
  margin: 5px;
}

.number__box {
  margin-bottom: 0%;
}

.cloneable-div {
  width: 100px;
  height: 50px;
  background-color: lightblue;
  margin: 10px;
  cursor: pointer;
  position: relative; /* Set to relative */
}

.movable-div {
  cursor: move;
}

/* Add styles for better visibility when dragging */
.movable-div.dragging {
  opacity: 0.7;
  border: 2px dashed red;
}