.title__bar {
  background: #343a40;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__text {
  margin-bottom: 0%;
  margin-right: 2%;
  color: white;
}

.title__box {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 70%;
  margin: 5px;
}

.box__nav {
  margin-right: 3%;
  display: inline-block;
  background-color: rgb(95, 95, 95);
  color: white;
  width: 7%;
}

.navbox__num {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  color: white;
}

.box__number {
  margin-bottom: 0%;
}

.thin__line {
  background-color: #949494;
  height: 0.5vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.menu__numbox {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 70%;
  margin: 5px;
}

.number__box {
  margin-bottom: 0%;
}

.header__title {
  color: white;
  font-size: 100%;
  margin: 0%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

.grid-item {
  background-color: #bbe4ff;
  color: #000000;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  padding: 0%;
}

.emoji__transporte {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  height: 60%;
}

.tex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  gap: 3%;
}

#custom-textarea {
  background-color: #ceceed; /* Set your desired background color */
  border-radius: 5px ;
  border-style: solid;
}

#custom-textarea2 {
  background-color: #ceceed; /* Set your desired background color */
  border-radius: 5px ;
  border-style: solid;
}

.btn:active {
  background-color: #007bff;
  color: #fff;
}

.btn-group {
  margin-top: 10px; /* Adjust the margin to your preference */
}

.btn {
  margin-right: 5px; /* Adjust the margin to your preference */
}

.draggable {
  position: absolute;
  cursor: move;
  border: 1px solid #000000;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1px;
  background-color: #6199ff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

    

.page-break {
  page-break-before: always;
}

 /* Styles specific for print */
 @media print {
  #element-to-hide {
      display: none;
  }
  #btn__print{
    display: none;
  }

  @page {
    size: letter landscape;
    size: A3;
  }
  body {
    page-break-inside: avoid;
  }

  .title__bar {
    display: flex;
  }
  
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.container-wrapper2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  
}
