.header {
  background-color: #C74B4B;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-bottom: auto; */
}

.header__container {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0;
  padding-bottom: 5%;
  color: white;
  font-size: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header__hamburguer {
  /* background-color: yellow; */
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
}

.header__title {
  font-size: 15px;
  margin: 0px;
  margin-top: 15%;
}

.header__logo {
    /* background-color: rgb(43, 255, 0); */
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.img__header {
  display: flex;
  justify-content: center;
  text-align: left;
  width: 70%;
}

